:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, .87);
  background-color: #fafafa;
}

* {
  box-sizing: border-box!important
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
  min-height: 64px;
  height: 100%;
  position: relative;
  border-radius: 12px;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
